---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import FAQ from '../components/FAQ.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import Sponsors from '../components/Sponsors.astro'
import Team from '../components/Team.astro'
---

<DefaultLayout title="ServerlessDays SP 2023">
  <Hero />
  <!-- <section class="my-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Tailwind CSS">
          Use the power of Tailwind to greatly improve your productivity and enhance your developer workflow.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="a11y Components">
          17 components and counting, all tried and tested for the most optimal accessible experience for your visitors.
        </Feature>
        <Feature icon="mdi:looks" title="Prettier">
          Less worry about formatting your code, let the Astro Prettier integration do the heavy lifting.
        </Feature>
        <Feature icon="mdi:eslint" title="ESLint">
          Lint your code with strict a11y settings to ensure you stay on track with the WCAG standards.
        </Feature>
        <Feature icon="mdi:book-open-page-variant" title="Blog">
          This theme comes with a fully integrated blog, dynamic pages and SEO optimization.
        </Feature>
        <Feature icon="mdi:language-markdown" title="Markdown & MDX">
          Easily use .md and .mdx pages to build your websites or use it with Netlify CMS.
        </Feature>
        <Feature icon="mdi:theme-light-dark" title="Dark mode">
          Fully integrated Dark mode gives your users the choice for their favorite viewing mode.
        </Feature>
        <Feature icon="mdi:cog" title="Design System">
          The theme offers some very handy utilities to help you build your website faster.
        </Feature>
        <Feature icon="mdi:lighthouse" title="Lighthouse Scores">
          Excellent lighthouse scores means your website will load faster and get better SEO rankings.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
-->
  <ContentMedia imgSrc="/ryan-jones-photo.jpeg">
    <h2>Keynote internacional</h2>
    <p class="text-2xl">
      Ryan Jones é o fundador da Serverless Guru, uma empresa de consultoria que ajuda a liderar a revolução da computação Serverless. Ryan é reconhecido pela sua contribuição com a comunidade de tecnologia e por esse motivo faz parte do grupo AWS Community Builders no tema Serverless.
    </p>
    <p class="text-2xl">      
      Ryan vai contar sua experiência e aprendizado à frente de sua empresa que é dedicada ao mundo Serverless.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/gran-estanplaza.jpg" reverseImg={true}>
    <h2>Local</h2>
    <p class="text-2xl">
      O local escolhido para esse grande evento é o <b>Gran Estanplaza Berrini</b>, um hotel 5 estrelas com localização privilegiada, à 250 metros de uma estação de metrô, é uma região acostumada a receber grandes eventos.
      
      Com uma estrutura para até 300 pessoas, o Salão Nobre da Música Brasileira, será o espaço dedicado ao primeiro ServerlessDays da América Latina.
    </p>
  </ContentMedia>
  <FAQ />
  <section class="mt-32 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Números</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="1" title="Dia" sub="de evento" />
        <Counter count="250" title="Pessoas" sub="esperadas no evento" />
        <Counter count="10" title="Palestrantes" sub="sendo 2 internacionais" />
        <Counter count="6" title="Horas" sub="de conteúdo" />
      </div>
    </div>
  </section>
  <Sponsors/>
  <Team/>
</DefaultLayout>
