---

import {
  Accordion,
  AccordionItem,

} from 'accessible-astro-components'

---

<section class="my-32">
  <div class="container">
    <div class="space-content">
      <h2 class="mb16 text-6xl">Perguntas Frequentes (FAQ)</h2>
      <Accordion>
        <AccordionItem header="Onde será o evento?">
          <p>
            Estamos finalizando os últimos detalhes para confirmar o local, que será na cidade de São Paulo/SP.
          </p>
        </AccordionItem>
        <AccordionItem header="Quando será o evento?">
          <p>
            O evento acontecerá no dia 21 de outubro de 2023, um sábado, para que todos possam participar. :)
          </p>
        </AccordionItem>
        <AccordionItem header="Quero palestrar, até quando vai o CFP?">
          <p>
            O CFP estará ativo até dia 31 de agosto de 2023. Faça o envio de sua proposta de palestra <a href="https://www.papercall.io/serverlessdays-saopaulo-2023">clicando aqui</a>.
          </p>
        </AccordionItem>
        <AccordionItem header="Quero ajudar na organização, como faço?">
          <p>
            Entre em contato conosco através do e-mail <a href="mailto:saopaulo@serverlessdays.io">saopaulo@serverlessdays.io</a> e entenderemos como pode fazer parte desse evento inédito.
          </p>
        </AccordionItem>
        <AccordionItem header="Como patrocinar o maior evento de Serverless do Brasil?">
          <p>
            Entre em contato conosco através do e-mail <a href="mailto:saopaulo@serverlessdays.io">saopaulo@serverlessdays.io</a> que enviaremos para você todas as opções.
          </p>
        </AccordionItem>
      </Accordion>
    </div>
  </div>
</section>