---

import {
  Accordion,
  AccordionItem,

} from 'accessible-astro-components'

---

<section class="my-32">
  <div class="container">
    <div class="space-content">
      <h2 class="mb16 text-6xl">Perguntas Frequentes (FAQ)</h2>
      <Accordion>
        <AccordionItem header="Onde será o evento?">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
            accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
            veritatis laboriosam est tenetur.
          </p>
          <a href="#">Tab to me!</a>
        </AccordionItem>
        <AccordionItem header="Quando será o evento?">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
            accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
            veritatis laboriosam est tenetur.
          </p>
        </AccordionItem>
        <AccordionItem header="Quero palestrar, até quando vai o CFP?">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
            accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
            veritatis laboriosam est tenetur.
          </p>
        </AccordionItem>
        <AccordionItem header="Fourth Item">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
            accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
            veritatis laboriosam est tenetur.
          </p>
        </AccordionItem>
        <AccordionItem header="Fifth Item">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo
            accusantium debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod
            veritatis laboriosam est tenetur.
          </p>
        </AccordionItem>
      </Accordion>
    </div>
  </div>
</section>