---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Feito em São Paulo usando <a href="https://astro.build/">Astro</a>. Este site também está <a
          href="https://github.com/jeanlucaslima/saopaulo.serverlessdays.io">no Github</a
        >.
      </p>
    </div>
  </section>
</footer>
