  <section class="mt-32 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Time da organização</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
          <div class="center text-center">
            <div class="foto"><img src="/src/assets/img/foto-evandro.jpg"/></div>
            <p class="text-2xl font-semibold">Evandro Pires</p>
            <p class="text-1xl">Líder do evento</p>
          </div>
          <div class="center text-center">
            <div class="foto"><img src="/src/assets/img/foto-madilene.jpg"/></div>
            <p class="text-2xl font-semibold">Madilene da Silveira</p>
            <p class="text-1xl">Organização</p>
          </div>
          <div class="center text-center">
            <div class="foto"><img src="/src/assets/img/foto-jean-lucas.jpeg"/></div>
            <p class="text-2xl font-semibold">Jean Lucas Lima</p>
            <p class="text-1xl">Organização</p>
          </div>
      </div>
    </div>
  </section>

  <style lang="scss">
    .foto {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15em;
    }
    .center {
      display: grid;
      justify-content: center;
    }
  </style>